{% extends 'layout.html' %}
{% block title %}
    User Login
{% endblock %}
{% block content %}
    <h1>User Login</h1>
    <!-- Display my form as a form tag -->
    <!-- The form is now a form to login users -->
    <form class="form-with-validation" action="{% url 'users:login_user' %}" method="post">
        <!-- CSRF validation: This is a built in security measure that Django uses to verify that the 
         request is from a legit website -->
        {% csrf_token %}
        <!-- Submit button for login -->
        {{ form }}
        <!-- If the user tried to access previously the new post page
        then it will redirect the user to the new post page after login -->
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
        {% endif %} 
        <button class="form-submit">Submit</button>
    </form>
{% endblock %}